%h1= @article.title
.blurb= @article.blurb_html

.meta
  %span.date= "Posted: " + pretty_date(@article.published_at)
  %span.tags= "Tagged: " + @article.tags.collect{|tag| link_to tag.name, tag}.to_sentence
  %span.comments= link_to "#{@article.comments.size} Comments", article_path(@article) + "#comments"
=@article.body_html

#comments
  %h2 Comments
  - if @article.comments.size > 0
    %ol
      =render :partial => 'comment', :collection => @article.comments
  - else
    Nobody has commented on this article yet!
  #comment-form
    = error_messages_for :comment
    - form_for(@comment, :url => comment_article_path(@article), :method => :post) do |f|
      .required
        %label{:for => 'comment_name'} Name
        =f.text_field :name
      .required
        %label{:for => 'comment_email'} Email
        =f.text_field :email
      .optional
        %label{:for => 'comment_url'} Website/URL
        =f.text_field :url
      .required
        %label{:for => 'comment_body'}
          Comment<br>
          %span= link_to("Textile", "http://hobix.com/textile/quick.html", :popup => true) + " allowed."
        =f.text_area :body
      .required
        %label{:for => 'comment_is_human'}= BLARG_CONFIG['comments']['is_human_question']
        =f.text_field :is_human
      %div
        =f.submit "Create"


