#post
  %h2.post_date=  @article.pretty_published_at
  %h1.post_title= @article.title
  .post_blurb=    @article.blurb_html
  .post_body=     @article.body_html

  .spacer &real;
  
%h2 Comments
#comments
:javascript
  var disqus_url = '#{@permalink}';
  var disqus_title = '#{@article.title}';
  var disqus_container_id = 'comments';
  var disqus_developer = 1;
%script{:type => "text/javascript", :src => "http://disqus.com/forums/zpao/embed.js"}
%noscript
  =link_to "View the forum thread.", "http://zpao.disqus.com/?url=" + @permalink
  
-content_for :sidebar do
  %h3.sidebar_item_title Metadata
  .sidebar_item_content
    %p
      %strong Tags:
      = @article.tags.collect{|tag| link_to tag.name, tag}.to_sentence
    %p
      %strong Published:
      =@article.pretty_published_at
    %p
      %strong Comments:
      <a href="#disqus_thread"></a>
      :javascript
        (function() {
          var links = document.getElementsByTagName('a');
          var query = '?';
          for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
              query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
          }
          document.write('<script type="text/javascript" src="http://disqus.com/forums/zpao/get_num_replies.js' + query + '"></' + 'script>');
        })();

  - if authorized?
    %h3.sidebar_item_title Actions
    .sidebar_item_content
      %ul
        %li= link_to "Edit", edit_article_path(@article)


