%h1= link_to @article.title, @article
.blurb= @article.blurb_html

.meta
  %span.date= "Posted: " + pretty_date(@article.published_at)
  %span.tags= "Tagged: " + @article.tags.collect{|tag| link_to tag.name, tag}.to_sentence
  %span.comments= link_to "#{@article.comments.size} Comments", article_path(@article) + "#comments"
=@article.body_html