- content_for :extra_head do
  = auto_discovery_link_tag :rss, "#{@tag.name}.rss", :title => "zpao.com | blog | tag: #{@tag.name}"

%h1= "Tag: &ldquo;#{@tag.name}&rdquo;"
.blurb
  %p
    Holy crap! There are
    =@articles.size
    article(s) tagged with
    = "&ldquo;#{@tag.name}&rdquo;."
  

%ul#articles
  - for article in @articles
    %li
      %span.date= pretty_date(article.published_at)
      = link_to article.title, article
