%h1= "Tag: &ldquo;#{@tag.name}&rdquo;"
.blurb
  %p
    Holy crap! There are
    =@articles.size
    article(s) tagged with
    = "&ldquo;#{@tag.name}&rdquo;."
  

%ul#articles
  - for article in @articles
    %li
      %span.date= pretty_date(article.published_at)
      = link_to article.title, article
