!!!
%html
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= "zpao.com | blog" + (@page_title ? " &raquo; " + h("#{@page_title}") : "")
    = auto_discovery_link_tag :rss, "http://feeds.feedburner.com/zpao", :title => 'zpao.com | blog'
    = javascript_include_tag 'CodeHighlighter/code_highlighter.js', 'CodeHighlighter/ruby.js'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js', 'jquery.fancylists.js'
    = javascript_include_tag '/mint/index.php?js'
    <!--[if lte IE 6]>
    = stylesheet_link_tag 'ie6'
    = javascript_include_tag 'jquery.ie6.js'
    <![endif]-->
    <!--[if gte IE 7]><!-->
    = stylesheet_link_tag 'reset-fonts-grids', 'zpao', 'code'
    <!--<![endif]-->
    
    %link{'rel' => "openid.server", 'href' => "http://www.myopenid.com/server"}
    %link{'rel' => "openid.delegate", 'href' => "http://zpao.myopenid.com/"}
    %link{'http-equiv' => "X-XRDS-Location", 'content' => "http://www.myopenid.com/xrds?username=zpao.myopenid.com"}
  
  %body
    #wrapper
      #hd
        .content
          %h1= link_to '<span>ZPAO &mdash; Paul O&rsquo;Shannessy</span>', '/'
          %ul
            %li#nav-articles= link_to '<span>Articles</span>', articles_path
            %li#nav-tags=     link_to '<span>Tags</span>', tags_path
            %li#nav-about=    link_to '<span>About</span>', about_path
            %li#nav-contact=  link_to '<span>Contact</span>', contact_path
      
      #bd
        .content
          #main.content-right
            = yield
          #sidebar.content-left



      #ft.fl
        %div{ :class => 'content fl' }
          .content-right
            %p
              &copy; Copyright 2004-2008 Paul O&rsquo;Shannessy
              %span{ :class => 'orn' } &#x2605;
              Powered by <a href="http://blarg.zpao.com">Blarg</a> <span class="amp">&amp;</span> hosted on <a href="http://www.dreamhost.com/r.cgi?98611">Dreamhost</a>
            %p
              <a href="http://zpao.com">Blog</a> | 
              <a href="http://playground.zpao.com">Playground</a> | 
              <a href="http://twitter.com/zpao">Twitter</a> | 
              <a href="http://flickr.com/photos/zpao">Flickr</a> | 
              <a href="http://last.fm/user/zpao">Last.fm</a> | 
              <a href="http://del.icio.us/zpao">Del.icio.us</a> |
              <a href="http://www.facebook.com/profile.php?id=4800504">Facebook</a> | 
              <a href="http://www.linkedin.com/in/pauloshannessy">LinkedIn</a>

    %script{:type => "text/javascript", :src => "http://mint.zpao.com/?js"}
    %script{:type => "text/javascript", :src => "http://include.reinvigorate.net/re_.js"}
    %script{:type => "text/javascript"}
      re_("59qa2-m8u784ek86");

    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    :javascript
      var pageTracker = _gat._getTracker("UA-66375-1");
      pageTracker._initData();
      pageTracker._trackPageview();
