!!!
%html
  %head
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title zpao.com | blog
    = stylesheet_link_tag 'reset-fonts-grids', 'zpao'
    = auto_discovery_link_tag :rss, "http://feeds.feedburner.com/zpao", :title => 'zpao.com | blog'
  
  %body
    #toptop
      .inner
        = link_to '&real; ZPAO.com', '/', :id => 'zpao'
        = link_to 'Articles', articles_path
        = link_to 'Tags', tags_path
        %span
          |
        = link_to 'Flickr', 'http://flickr.com/photos/zpao'
        = link_to 'Last.fm', 'http://last.fm/user/zpao'
        = link_to 'Twitter', 'http://twitter.com/zpao'
        = link_to 'Del.icio.us', 'http://del.icio.us/zpao'
        = link_to 'Facebook', 'http://www.facebook.com/profile.php?id=4800504'
        = link_to 'LinkedIn', 'http://www.linkedin.com/in/pauloshannessy'

    #doc4.yui-t5
      #bd
        #yui-main
          .yui-b
            = yield
        .yui-b
          = yield :sidebar

      #ft
        %p.right
          <a href="http://feeds.feedburner.com/zpao" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="Subscribe to RSS"/></a>
        &copy; Copyright 2004-2008 Paul O&rsquo;Shannessy | Powered by <a href="http://blarg.zpao.com">Blarg</a>

      #twitter
        %ul#twitter_update_list
      %script{:type => "text/javascript", :src => "http://twitter.com/javascripts/blogger.js"}
      %script{:type => "text/javascript", :src => "http://twitter.com/statuses/user_timeline/zpao.json?callback=twitterCallback2&count=1"}
    %script{:type => "text/javascript", :src => "http://include.reinvigorate.net/re_.js"}
    %script{:type => "text/javascript"}
      re_("59qa2-m8u784ek86");

    %script{:type => "text/javascript"}
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

    %script{:type => "text/javascript"}
      var pageTracker = _gat._getTracker("UA-66375-1");
      pageTracker._initData();
      pageTracker._trackPageview();